/*------------------ajustes universales-----------------*/
* {
    font-family: Montserrat, Caveat, Tahoma, sans-serif;
    box-sizing: border-box;
}

:root {
    --naranjaP: #ff6700ff; /* Almacena los colores de la paleta con un nombre */
    --blancoP: #ebebebff;
    --grisP: #c0c0c0ff;
    --azulclaroP: #3a6ea5ff;
    --azuloscuroP: #004e98ff;
}


body {
    background-color: blue;
    display: flex;
    width: 50%;
}


#carouselExample{
margin:4em;
}




.carousel-item {
    display: flex;
}

.carousel-item .d-flex {
    display: flex;
    width: 100%;
}

.carousel-item > .d-flex > .col {
    flex: 1 0 0;
    max-width: 25%; /* Para que haya 4 imágenes horizontalmente */
}

.carousel-item img {
    max-height: 300px; /* Ajusta la altura de las imágenes según necesidad */
    object-fit: cover;
}
