/*------------------ajustes universales-----------------*/
* {

    font-family: montserrat, Caveat, Tahoma, sans-serif;
}

:root {
    --naranjaP: #ff6700ff;
    /* Almacena los colores de la paleta con un nombre */
    --blancoP: #ebebebff;
    --grisP: #c0c0c0ff;
    --azulclaroP: #3a6ea5ff;
    --azuloscuroP: #004e98ff;
}



/*---------------------------body-------------------*/

body {
    background-color: var(--naranjaP);
    color: var(--naranjaP);
    /*border: 1px white solid;*/
    justify-content: center;
}

body div a {
    display: inline;
    /*border: 2px var(--azuloscuroP) solid;*/
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: var(--blancoP);
    font-weight: 700;
    color: var(--azuloscuroP);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

body div a:hover {
    border: 2px var(--blancoP) solid;
    background-color: var(--naranjaP);
    color: var(--blancoP);
}


#contenedorEncabezado {
    /*border: 3px rgb(221, 13, 134) solid;*/
    text-align: center;
    margin: 3em;
}


/* -------------------------form 1 -----------------------*/
#contenedorForm1 {
    /*border: 1px rgb(3, 218, 164) solid;*/
    text-align: center;
    max-width: 100%;
    justify-content: center;
}

#contenedorForm1 h3 {
    border: 1px rgb(223, 98, 26) solid;
    text-align: center;
    background-color: var(--azuloscuroP);
    max-width: 600px;
    min-width: 300px;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 1em;
    color: var(--blancoP);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


#form1 {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    background-image: url(../recursos/LogoFerrecentroPNGgris.png);
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: 50%;
    /* La imagen cubrirá todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#form1:hover {
    transform: scale(1.01);
    /* Aumenta el tama�o de la tarjeta */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
    /* Aumenta la sombra */
    background-color: var(--grisP);
}


#form1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}


input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    opacity: 0.7;
}

input[type="text"]:focus,
/*:FOCUS-->realiza acciones cuando el campo esta seleccionado*/
input[type="email"]:focus,
textarea:focus {
    border-color: var(--naranjaP);
    outline: none;
    /*elimina el coloreado por default de los navegadores"*/
}


input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: var(--naranjaP);
    transform: scale(1.1);
}

input[type="reset"],
input[type="submit"] {
    background-color: var(--azuloscuroP);
    padding: 0.8em 1.4em;
    border-radius: 8px;
    margin: 0px 15px;
    color: var(--blancoP);
    font-size: 15px;
    border: none;
    font-weight: 700;
    transition: transform 0.3s ease;
}