/*------------------ajustes universales-----------------*/
* {

    font-family: montserrat, Caveat, Tahoma, sans-serif;
}

:root {
    --naranjaP: #ff6700ff;
    /* Almacena los colores de la paleta con un nombre */
    --blancoP: #ebebebff;
    --grisP: #c0c0c0ff;
    --azulclaroP: #3a6ea5ff;
    --azuloscuroP: #004e98ff;
}



/*---------------------------body-------------------*/

body {
    background-color: var(--azuloscuroP);
    color: var(--blancoP);
    /*border: 1px white solid;*/
    justify-content: center;
    padding: 2em;
}

/*----------------*/
#contenedorTitulo {
    display: flex;
    border: 2px white solid;
    border-radius: 15px;
    width: 70vw;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-around;
    /* Distribuye los elementos a los extremos */
    align-items: center;
    /* Centra los elementos verticalmente (si se necesitan) */
    margin: auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

#contenedorIzquierdo {
    margin: 0.5em 3em;
    /*border:2px wheat solid;*/
    align-items: center;
}

#contenedorCentro {
    margin: auto;
    /*border:2px red solid;*/
    display: flex;
    align-items: center;
}

#contenedorCentro h1 {
    display: inline;
    margin: 0 0.6em;
    /*border: 3px white solid;*/
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#logoFerrecentro {
    width: 4em;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4))
}

#logoIconoTitulo {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4))
}

.textoParrafo {
    display: flex;
    width: 70vw;
    font-weight: 600;
    justify-content: space-around;
    /* Distribuye los elementos a los extremos */
    align-items: center;
    /* Centra los elementos verticalmente (si se necesitan) */
    margin: auto;
    margin-bottom: 1.5em;
    font-size: 1.1em;
    padding: 1em 2em;

}























/* -------------------------form 1 -----------------------*/
#contenedorForm1 {
    /*border: 1px rgb(3, 218, 164) solid;*/
    text-align: center;
    max-width: 100%;
    justify-content: center;
}

#contenedorForm1 h3 {
    border: 1px rgb(223, 98, 26) solid;
    text-align: center;
    background-color: var(--naranjaP);
    max-width: 600px;
    min-width: 300px;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 0.5em;
    color: var(--blancoP);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


#form1 {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    background-image: url(../recursos/LogoFerrecentroPNGgris.png);
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: 50%;
    /* La imagen cubrirá todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#form1:hover {
    transform: scale(1.01);
    /* Aumenta el tama�o de la tarjeta */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
    /* Aumenta la sombra */
    background-color: var(--grisP);
}


#form1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}


input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    opacity: 0.7;
}

input[type="text"]:focus,
/*:FOCUS-->realiza acciones cuando el campo esta seleccionado*/
input[type="email"]:focus,
textarea:focus {
    border-color: var(--naranjaP);
    outline: none;
    /*elimina el coloreado por default de los navegadores"*/
}


input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: var(--naranjaP);
    transform: scale(1.1);
}

input[type="reset"],
input[type="submit"] {
    background-color: var(--azuloscuroP);
    padding: 0.8em 1.4em;
    border-radius: 8px;
    margin: 0px 15px;
    color: var(--blancoP);
    font-size: 15px;
    border: none;
    font-weight: 700;
    transition: transform 0.3s ease;
}

/*----------------------------MEDIAQUERIES 900px-----------------------------------------*/

@media (max-width: 950px) {

    #contenedorTitulo {
        width: 90vw;
    }

    #contenedorProductos {
        width: 90vw;
    }



    #contenedorCentro h1 {
        font-size: 2.5em;

    }

    #logoIconoTitulo {
        font-size: 2.5em;
        /* maneja el tamaño del icono de fontawesome*/
    }

    #logoFerrecentro {
        min-width: 3em;
    }

    .textoParrafo {
        font-size: 1em;
    }

}


/*----------------------------MEDIAQUERIES 650px-----------------------------------------*/

@media (max-width: 650px) {




    #contenedorCentro h1 {
        font-size: 1.5em;

    }

    #logoIconoTitulo {
        font-size: 1.5em;
        /* maneja el tamaño del icono de fontawesome*/
    }

    /*----------*/
    #contenedorIzquierdo {
        margin: 0.2em;
    }

    #logoFerrecentro {
        width: 2em;
    }

    /*--------------*/
    .textoParrafo {
        font-size: 1em;
    }

}