/*------------------ajustes universales-----------------*/
* {

    font-family: Roboto, Caveat, Tahoma, sans-serif;
}

:root {
    --naranjaP: #ff6700ff;
    /* Almacena los colores de la paleta con un nombre */
    --blancoP: #ebebebff;
    --grisP: #c0c0c0ff;
    --azulclaroP: #3a6ea5ff;
    --azuloscuroP: #004e98ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto;
}

/*-----------------------HEADER-----------------------------*/

#contenedorFijo {
    background-color: var(--blancoP);
    border: 2px blue solid;
    padding: 0.2em 3em;
    /*position: fixed;
    /* Mantiene el header siempre visible */
    /*top: 0;
    left: 0;
    width: 100%;
    /* Asegura que el header ocupe todo el ancho de la página */
    /*z-index: 1000;
    /* Asegura que el header esté por encima del contenido */

}

header {
    background-color: var(--blancoP);
    border: 2px greenyellow solid;
    font-size: 0.6em;
}

#contenedorLogoBuscar {
    border: 2px violet solid;
    display: flex;
    justify-content: space-around;


}

form {
    border: 2px pink solid;
    padding: 2em;
    width: 80%;
    display: flex;

}

form input {
    width: 90%;
    font-size: 1.2em;

}

form button {

    font-size: 1.2em;

}



#encabezadoSuperior {
    background-color: var(--azuloscuroP);
    border: 2px greenyellow solid;
    color: var(--blancoP);
    margin: 0em;
    font-size: 1.5em;
    text-align: center;
    padding: 0.3em;

}

#logoEncabezado {
    width: 8.5em;
    margin: 1em;
}



.barra-busqueda {
    display: flex;
    align-items: center;

}



.barra-busqueda input {
    padding: 10px;
    border: 2px solid var(--naranjaP);
    border-radius: 0.5em;
}


.barra-busqueda button {
    padding: 10px 20px;
    margin-left: 5px;
    background-color: var(--azulclaroP);
    color: white;
    border: 2px solid var(--naranjaP);
    border-radius: 0.5em;
    cursor: pointer;
}

.barra-busqueda button:hover {
    background-color: #0056b3;
}



nav {
    background-color: var(--azulclaroP);
    border: 2px greenyellow solid;
    padding: 1.5em 0em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    /* Elimina los c�rculos */

}


nav ul li {
    display: inline;
}




nav ul li a {
    color: var(--blancoP);
    /* O establece un color espec�fico, como: color: black; */
    text-decoration: none;
    /* Elimina el subrayado */
    border: 1px var(--blancoP) solid;
    padding: 0.4em 1.2em;
    border-radius: 0.4em;
    margin: 0.5em 1em;
}

nav ul li a:hover {
    color: var(--azuloscuroP);
    /* Color al pasar el rat�n */
    background-color: var(--naranjaP);
    border: 1px var(--azuloscuroP) double;

}




/*----------------------MAIN------------------------------*/

main {
    background-color: var(--blancoP);
    border: 2px violet solid;
    padding: 2em;
    text-align: center;

}
 main h2{
    font-size: 2em;
    font-weight: 800;
    font-family: "caveat";
    margin: 0;
    padding: 0;
    color: var(--azuloscuroP);
 }

#contenedorCarrusel {

    text-align: center;
    padding: 1em;
    
    display: flex;
    width: 100%;
    height: 30em;
    margin: 0em auto;
    

}


#contenedorCarrusel img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}


#contenedorCarrusel img:hover{
cursor:crosshair;
width: 35em;
opacity: 1;
filter: contrast(120%)

}



section {
    background-color: var(--azulclaroP);
    border: 2px greenyellow solid;
}


/*-------*/
.card {
    width: 12em;
}



#contenedorSecundario {
    display: flex;
}



#contenedorSecciones {
    background-color: var(--blancoP);
    border: 2px blue solid;
    padding: 3em;
    width: 70%;
}



#contenedorDestacados {
    border: 2px black solid;
    text-align: center;
    margin: 2em;

}

#contenedorDestacados h3 {
    border: 2px red solid;
    display: block;
}

.contenedorCard {
    border: 2px green solid;
}



#contenedorMasVendidos {
    border: 2px black solid;
    text-align: center;
    margin: 2em;

}

#contenedorMasVendidos h3 {
    border: 2px red solid;
    display: block;
}







article {
    background-color: var(--azulclaroP);
    border: 2px greenyellow solid;
    text-align: center;
    margin: 2em;
}


/*-------------*/

#contenedorPublicidad {
    background-color: var(--blancoP);
    border: 2px blue solid;
    padding: 3em;
    width: 25%;
    display: block;
    text-align: center;


}

aside {
    background-color: var(--naranjaP);
    border: 2px rgb(11, 156, 223) solid;
}

.publicidad {
    width: 15em;
    height: 15em;
    margin: 3em auto;


}


#contenedorMarcas {
    margin: auto;
}


#contenedorMarcas img {
    width: 4em;


}


#subContenedorMarcas {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;


}


/*---------------------FOOTER-------------------------------*/
footer {
    background-color: var(--azuloscuroP);
    border: 2px greenyellow solid;
    padding: 1.5em 11em;
    color: var(--blancoP);
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;

}

#logoFooter {
    width: 4em;

}

#logoFiscal {
    width: 3em;

}



footer a {
    color: var(--blancoP);
    text-decoration: none;
    /* Elimina el subrayado */
    margin: 0.7em;

}