/*------------------ajustes universales-----------------*/
* {

    font-family: Montserrat, Caveat, Tahoma, sans-serif;
    box-sizing: border-box;
}

:root {
    --naranjaP: #ff6700ff;
    /* Almacena los colores de la paleta con un nombre */
    --blancoP: #ebebebff;
    --grisP: #c0c0c0ff;
    --azulclaroP: #3a6ea5ff;
    --azuloscuroP: #004e98ff;
}

/*agregado luego*/
*,
*::before,
*::after {
    box-sizing: border-box;
}


/*--------------------------------------BODY---------------------------------------------------*/
body {
    /*border: 5px violet solid;*/
    padding: 1em;
    margin: 1em;
    /*background-color: Black;*/
    min-height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 30% auto auto auto auto 10%;*/
    grid-template-areas:
        "fijo fijo fijo"
        "main main main"
        "main main main"
        "main main main"
        "main main main"
        "footer footer footer";

}


/*--------------------------------BODY/CONTENEDORFIJO-----------------------------------------*/
#contenedorFijo {
    grid-area: fijo;
    background-color: var(--blancoP);
    /*var(--blancoP)*/
        /*border: 2px blue solid;*/
    /*padding: 0.2em 3em;*/
    /*position: fixed;
    /* Mantiene el header siempre visible */
    top: 0;
    left: 0;
    width: 100%;
    /* Asegura que el header ocupe todo el ancho de la página */
    /*z-index: 1000;
    /* Asegura que el header esté por encima del contenido */

}

/*-----------------------BODY/CONTENEDORFIJO/HEADER-------------------------------------*/
header {
    background-color: var(--blancoP);
    /*border: 2px greenyellow solid;*/
    font-size: 0.6em;

}


#encabezadoSuperior {
    background-color: var(--azuloscuroP);
    /*border: 2px greenyellow solid;*/
    color: var(--blancoP);
    margin: 0em;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    font-weight: 600;
    text-shadow: 2px 2px 5px black;

}

#contenedorLogoBuscar {
    /*border: 2px violet solid;*/
    display: flex;
    justify-content: space-around;


}


#logoEncabezado {
    width: 7.5em;
    margin: 0.5em auto;
    display: inline-block;

}


form {
    /*border: 2px pink solid;*/
    padding: 2em;
    width: 80%;
    display: flex;
}

form input {
    width: 90%;
    font-size: 1.2em;
}

form button {
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.barra-busqueda {
    display: inline-flex;
    align-items: center;
}


.barra-busqueda input {
    padding: 10px;
    border: 2px solid var(--naranjaP);
    border-radius: 0.5em;
}

.barra-busqueda button {
    padding: 10px 20px;
    margin-left: 5px;
    background-color: var(--azulclaroP);
    color: white;
    /*border: 2px solid var(--naranjaP);*/
    border-radius: 0.5em;
    cursor: alias;
    font-size: 1.5em;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: box-shadow 0.3s ease; /* Transición suave */
}

.barra-busqueda button:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6); /* Aumenta la sombra al pasar el mouse */
}


/*------------------------------NAV---------------------------------------*/

nav {
    background-color: var(--azulclaroP);
    /*border: 2px greenyellow solid;*/
    padding: 1.5em 0em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    /* Elimina los c�rculos */
    width: auto;
}


nav ul li {
    display: inline-block;
    margin: 0.7em;
    
}


nav ul li a {
    color: var(--blancoP);
    /* O establece un color espec�fico, como: color: black; */
    text-decoration: none;
    /* Elimina el subrayado */
    border: 1px var(--blancoP) solid;
    padding: 0.4em 1.2em;
    border-radius: 0.4em;
    margin: 0.5em 1em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: box-shadow 0.3s ease; /* Transición suave */
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    color: var(--azuloscuroP);
    /* Color al pasar el rat�n */
    background-color: var(--naranjaP);
    border: 1px var(--azuloscuroP) double;
    color: var(--blancoP);
    
    
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6); /* Aumenta la sombra al pasar el mouse */


}


/*------------------------------------------MAIN----------------------------------------*/

main {
    background-color: var(--blancoP);
    /*border: 2px violet solid;*/
    padding: 0em;
    text-align: center;
    grid-area: main;

    display: grid;
    /*grid-template-rows: 20% auto auto auto 5%;*/
    grid-template-areas:
        "carrusel carrusel carrusel"
        "secundario secundario secundario"
        "secundario secundario secundario"
        "secundario secundario secundario"
        "secundario secundario secundario";
}

/*
"carrusel carrusel carrusel"
    "publicidad secciones secciones"
    "publicidad secciones secciones"
    "publicidad secciones secciones"
    "marcas marcas marcas"*/

#contenedorCarrusel {
    grid-area: carrusel;
    padding: 0em 2em;


}

#contenedorCarrusel h2 {
    font-size: 2em;
    font-weight: 800;
    font-family: "caveat";
    margin: 0;
    padding: 0;
    color: var(--azuloscuroP);

}

#contenedorImagenesCarrusel {

    text-align: center;
    padding: 1em;
    display: flex;
    width: 100%;
    height: 30em;
    /*background-color: Lime;*/
    padding: 1em 1em;

}

#contenedorImagenesCarrusel img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}


#contenedorImagenesCarrusel img:hover {
    cursor: pointer;
    width: 35em;
    opacity: 1;
    filter: contrast(120%)
}



section {
    background-color: var(--azulclaroP);
    /*border: 2px greenyellow solid;*/
    padding: 1em;
}


/*------------------------CONTENEDORSECUNDARIO(PUBLICDAD) ------------------*/


#contenedorSecundario {
    /*display: flex;*/
    grid-area: secundario;
    /*border: 2px black solid;
    background-color: Red;*/
    padding: 2em;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "publicidad secciones secciones"
        "publicidad secciones secciones"
        "publicidad secciones secciones"
        "marcas marcas marcas";
}

#contenedorPublicidad {
    /*background-color: Olive; /*var(--blancoP);*/
    /*border: 2px blue solid;*/
    padding: 1em;
    /*width: 25%;*/
    /*display: block;*/
    /*text-align: center;*/
    grid-area: publicidad;
    min-width: 200px;
}



.publicidad {

    margin: 2em auto;
    border: 2px var(--naranjaP) solid;
    padding: 0.4em;
    border-radius: 6px;
}


/*------------------------CONTENEDORSECCIONES ------------------*/


#contenedorSecciones {
    /*background-color: var(--naranjaP);
    border: 2px blue solid;*/
    /*padding: 3em;
    width: 70%;*/
    grid-area: secciones;
    text-align: center;
    min-width: 300px;
}

#contenedorSecciones section {
    margin: 1em;
}

#contenedorSecciones article {
    margin: 1em;
    padding: 1em;
}

#contenedorSecciones h3 {
    color: var(--blancoP);
    font-size: 1.4em;
    font-weight: 600;
    background-color: var(--naranjaP);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

/*---------------------------------------------*/
#contenedorDestacados {
    /*border: 2px black solid;*/
    /*text-align: center;*/
    /*margin: 2em;*/
    border-radius: 15px;
    /*background-color: Red;*/

}

/*#contenedorDestacados h3 {
    /*border: 2px red solid;*/
/*display: block;*/
/*width:80%;*/
/*} se modifica arriba */

.card {
    width: 15em;
    border-radius: 20px;
    margin: 0.4em;

}

/*---------------------------------------------*/
#contenedorMasVendidos {
    /*border: 2px black solid;*/
    /*text-align: center;
    margin: 2em;*/
    border-radius: 15px;
    /* background-color: yellow;*/

}


.contenedorCard {
    /*background-color: violet; /*elimnar luego*/
    padding: 0.5em;
    display: flex;
    flex-wrap: Wrap;
    justify-content: center;

}


/*----------------------------------------cardddd!!!!-------------------------------------------------------*/


.contenedorCard1 {

    border: 3px var(--naranjaP) solid;
    border-radius: 10px;

    margin: 0.4em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: var(--blancoP);
    color: var(--azuloscuroP);
    font-family: arial;
    width: 250px;
    height: 350px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */

}

.contenedorCard1:hover {

transform: translateY(-10px); /* Mueve la card hacia arriba al pasar el mouse */
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5); /* Aumenta la sombra al pasar el mouse */


}



.contenedorImagen1 {
    border: 2px var(--azuloscuroP) solid;
    border-radius: 10px;
    width: 95%;
    height: 60%;
    display: flex;
    background-color: var(--blancoP);
    
}

.imagenProducto1 {
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin: auto;
}


.imagenProducto1:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}










.contenedorPrecio1 {
    /*border: 2px yellow solid;*/
    border-radius: 2px;
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}


.contenedorPrecio1 h4 {
    font-weight: 800;
    font-size: 1.4em;


}



.contenedorDescripcion1 {
    /*border: 2px rgb(34, 127, 233) solid;*/
    border-radius: 10px;
    width: 95%;
    height: 20%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
}


.contenedorInferior1 {
    /*border: 2px rgb(29, 197, 94) solid;*/
    border-radius: 10px;
    width: 95%;
    height: 15%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: end;
    display: flex;
    align-items: center;

}

.contenedorSelector1 {
    border: 2px var(--naranjaP) solid;
    width: 20%;
    height: 70%;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    background-color: var(--blancoP);
}



.contenedorBoton1 {
    border: 2px rgb(240, 235, 230) solid;
    border-radius: 10px;
    width: 60%;
    height: 70%;
    background-color: var(--naranjaP);
    color: var(--blancoP);
    font-weight: 800;
    transition: transform 0.3s ease;
    /* Transición suave para el tamaño */
}

.contenedorBoton1:hover {
    transform: scale(1.1);
    /* Aumentar el tamaño al 110% */
}



/*-----------------------------------------------------------------------------------------------*/

/*#contenedorMasVendidos h3 {
    /*border: 2px red solid;*/
/*display: block;*/
/*  width:80%;
}
*/
/*-----------------------------------------------*/
#contenedorMarcas {
    background-color: var(--azulclaroP);
    /*border: 2px greenyellow solid;*/
    /*text-align: center;*/
    /*margin: 2em;*/
    grid-area: marcas;
    border-radius: 15px;
}




#subContenedorMarcas {
    margin: 2em;
}

.imagenMarca {
    min-width: 400px;
}

/*-----------------------------------FOOTER-------------------------------*/
footer {
    background-color: var(--azuloscuroP);
    /*border: 2px greenyellow solid;*/
    padding: 3em auto;
    color: var(--blancoP);
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    grid-area: footer;
}

#logoFooter {
    width: 4em;
}

#logoFiscal {
    width: 3em;
}

footer a {
    color: var(--blancoP);
    text-decoration: none;
    /* Elimina el subrayado */
    margin: 0.3em;
}

footer div {
    /*border: 2px red solid;*/
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}


/***************************mediaqueries******************************/

@media (max-width: 800px) {
    nav {
        padding: 0.1em;
    }

    #contenedorSecundario {
        /*display: flex;*/
        grid-area: secundario;
        padding: 2em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "secciones"
            "secciones"
            "publicidad "
            "marcas";
    }

    nav {
        text-align: center;
    }

    nav ul {
        list-style-type: none;
    }


    nav ul li {
        display: block;
        margin: 1.5em;
    }

    .publicidad {
        width: 80%;

    }
}

/***************************mediaqueries****************/

@media (max-width: 768px) {

    #contenedorSecundario {
        /*display: flex;*/
        grid-area: secundario;
        padding: 2em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "secciones"
            "secciones"
            "publicidad "
            "marcas";
    }

    nav {
        text-align: center;
    }

    nav ul {
        list-style-type: none;
    }


    nav ul li {
        display: block;
        margin: 1.5em;
    }

    footer div {
        display: inline-block;
        text-align: center;
        padding: 0.3em;

    }


    footer span {
        display: inline-block;
        border: 3px red solid;
        width: 250px;
    }


}