/*------------------ajustes universales-----------------*/
* {
    font-family: Montserrat, Caveat, Tahoma, sans-serif;
    box-sizing: border-box;
}

:root {
    --naranjaP: #ff6700ff;
    /* Almacena los colores de la paleta con un nombre */
    --blancoP: #ebebebff;
    --grisP: #c0c0c0ff;
    --azulclaroP: #3a6ea5ff;
    --azuloscuroP: #004e98ff;
}



/*--------------------------------------BODY---------------------------------------------------*/
body {
    /*border: 5px violet solid;*/
    padding: 0em;
    margin: 0em;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 30% auto auto auto auto 10%;*/
    grid-template-areas:
        "fijo fijo fijo"
        "main main main"
        "main main main"
        "main main main"
        "main main main"
        "footer footer footer";
    min-width: 350px;

}



/*------------icono whastapp----------------*/
.whatsapp-icono {
    position: fixed;
    bottom: 4em;
    right: 1em;
    z-index: 1000;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .whatsapp-icono img {
    width: 2em;
    height: 2em;
  }






/*--------------------------------BODY/CONTENEDORFIJO-----------------------------------------*/
#contenedorFijo {
    grid-area: fijo;
    background-color: var(--blancoP);
    top: 0;
    left: 0;
    width: 100%;
}

/*-----------------------BODY/CONTENEDORFIJO/HEADER-------------------------------------*/
header {
    background-color: var(--azuloscuroP);
    /*border: 2px greenyellow solid;*/
    font-size: 0.6em;
}



/*---------------carrusel de texto -------------------------*/

.encabezadoSuperior {
    background-color: var(--azulclaroP);
    /*border: 2px greenyellow solid;*/
    color: var(--blancoP);
    margin: 0em;
    font-size: 1.8em;
    text-align: center;
    padding: 0.2em;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}



.carousel-item h3 {
    line-height: 0.8;
}





/*-------contenedor exterior Buscar----------*/

#contenedorLogoBuscar {
    /*border: 2px violet solid;*/
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

/* logo ferrecentro*/
#logoEncabezado {
    width: 7.5em;
    margin: 1em;
    filter: drop-shadow(1px 1px 1px rgba(156, 9, 41, 0.1));

}

/* campo blanco + boton buscar*/
form {
    /*border: 2px pink solid;*/
    padding: 2em;
    width: 80%;
    display: flex;
}

form input {
    width: 90%;
    font-size: 1.2em;
}


form button {
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.barra-busqueda {
    display: inline-flex;
    align-items: center;
}


.barra-busqueda input {
    padding: 10px;
    border: 2px solid var(--azuloscuroP);
    border-radius: 0.5em;
}


/*----boton buscar----*/
.barra-busqueda button {
    padding: 10px 20px;
    margin-left: 5px;
    background-color: var(--azulclaroP);
    color: white;
    /*border: 2px solid var(--naranjaP);*/
    border-radius: 0.5em;
    cursor: alias;
    font-size: 1.5em;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.barra-busqueda button:hover {
    background-color: var(--naranjaP);
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
    /* Aumenta la sombra al pasar el mouse */

}


/*----------------------------------------------------NAV--------------------------------------------------------*/

nav {
    background-color: var(--azulclaroP);


}


/*-------botones NAV----*/
.botonNav {
    font-weight: 700;
    color: var(--blancoP);
    text-align: center;
    border-radius: 0.4em;
    border: 1px var(--blancoP) solid;
    padding: 0.4em 1.2em;
    margin: 0.5em 1em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    /* Transición suave */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    /* Aumenta la sombra al pasar el mouse */
    background-color: var(--azulclaroP);
    font-size: 0.9em;

}

.botonNav:hover {
    background-color: var(--naranjaP);
    border: 1px var(--azulclaroP) solid;
    color: var(--blancoP);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    /* Aumenta la sombra al pasar el mouse */
}


/*------contenedor NAV entero---*/
.container-fluid {
    background-color: var(--azuloscuroP);
    /*border: 2px greenyellow solid;*/
    padding: 1em 0em;
    border: 2px var(--azulclaroP) solid
}


/*------CONTENEDOR DE 5 BOTONES----*/
.navbar-nav {
    margin: 0 auto;
}

#recuadroNav {
    padding: 0;
}


.itemNav,
.dropdown {
    display: flex;
    align-items: center;
}

/*-----contenedor de botones desplegables------------*/
.dropdown-menu {
    background-color: Transparent;
    border: none;
}

/*------BOTONES DESPLEGABLES-----*/
.dropdown-item {
    font-weight: 600;
    background-color: var(--azulclaroP);
    color: var(--blancoP);
    border-radius: 5px;
    border: 1px var(--blancoP) solid;
    margin: 0em;
    font-size: 0.9em;
    padding: 0.2em 0.4em;

}

.dropdown-item:hover {
    background-color: var(--naranjaP);
    color: White;
}

.tachado {
    text-decoration: line-through wavy rgb(3, 19, 114) 2px;
}



/*ICONO HAMBURGUESA*/

.navbar-toggler {
    margin-left: 1em;
    border-color: white;
    background-color: var(--blancoP);
}

.navbar-toggler:focus {
    background-color: var(--naranjaP);
}


/*----------------------------------------------------------MAIN------------------------------------------------------------*/

main {
    background-color: var(--azuloscuroP);
    /*border: 2px violet solid;*/
    padding: 0em 2em;
    text-align: center;
    grid-area: main;
    display: grid;
    grid-template-areas:
        "carrusel carrusel carrusel"
        "secundario secundario secundario"
        "secundario secundario secundario"
        "secundario secundario secundario"
        "secundario secundario secundario";
}

/*---------------------display carrusel imagenes----------------*/

#contenedorCarrusel {
    grid-area: carrusel;
    padding: 0em 3em;



}

#contenedorCarrusel h2 {
    font-size: 2em;
    font-weight: 800;
    font-family: "caveat";
    margin: 0.4em 0 0.4em 0;
    padding: 0;
    color: var(--blancoP);
    line-height: 0.8;

}

#contenedorImagenesCarrusel {

    text-align: center;
    padding: 1em;
    display: flex;
    width: 100%;
    height: 30em;
    padding: 1em 1em;

}

#contenedorImagenesCarrusel img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;

}


#contenedorImagenesCarrusel img:hover {
    cursor: pointer;
    width: 35em;
    opacity: 1;
    filter: contrast(120%)
}




#contenedorCarrusel div {
    background-color: var(--blancoP);
    /*border: 2px greenyellow solid;*/
    padding: 0.3em;
    border-radius: 10px;
}

#imagencarruselPrincipal {
    display: none;
}

/*-----------------------------CONTENEDORSECUNDARIO(PUBLICIDAD) ---------------------------*/


#contenedorSecundario {
    grid-area: secundario;
    /*border: 2px black solid;*/
    padding: 2em;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "publicidad secciones secciones"
        "publicidad secciones secciones"
        "publicidad secciones secciones"
        "marcas marcas marcas";
}

#contenedorPublicidad {
    /*border: 2px blue solid;*/
    padding: 1em;
    grid-area: publicidad;
    min-width: 200px;
}


.publicidad {
    margin: 2em auto;
    border: 2px var(--blancoP) solid;
    padding: 0.2em;
    border-radius: 8px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);
}


/*-----------------------------------CONTENEDOR SECCIONES -----------------------------*/


#contenedorSecciones {
    /*border: 2px blue solid;*/
    grid-area: secciones;
    text-align: center;
    min-width: 300px;
}

#contenedorSecciones section {
    margin: 1em;
}

#contenedorSecciones article {
    margin: 1em;
    padding: 1em;
}

#contenedorSecciones h3 {
    color: var(--blancoP);
    font-size: 1.4em;
    font-weight: 600;
    background-color: var(--naranjaP);
    border-radius: 9px;
    width: 90%;
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 0.6em;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);

}

/*-------------------DESTACADOS--------------------------*/
#contenedorDestacados {
    border: 3px var(--blancoP) solid;
    border-radius: 1em;
    background-color: var(--azuloscuroP);
    padding: 0.5em;

}

/*#contenedorSwiperDestacados{
}*/

.card {
    width: 15em;
    border-radius: 20px;
    margin: 0.4em;

}

/*------------------------MAS VENDIDOS----------------------------*/
#contenedorMasVendidos {
    border: 3px var(--blancoP) solid;
    border-radius: 1em;
    background-color: var(--azuloscuroP);
    padding: 0.5em;

}


.contenedorCard {
    /*background-color: violet; /*elimnar luego*/
    padding: 0.5em;
    display: flex;
    flex-wrap: Wrap;
    justify-content: center;
    align-self: center;
}

/*---------------CARRUSEL SWIPER!!!!!-----------------------*/
.container {
    max-width: 1250px;
    margin: 0 auto;
    /*border: 2px red solid;*/
    /*background-color: pink;  luego sacar-----------------------------*/
    padding: 0em 3em;
}

.swiper-wrapper {
    background-color: var(--azuloscuroP);
    /*transparent*/

}

ul {
    display: flex;
}

li {
    padding: 0 20px;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
}

li a {
    text-transform: capitalize;
    color: black;
    font-size: 18px;
}

.swiper {
    margin-top: 40px;
}

.swiper-slide {
    background-color: transparent;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: 390px;
    width: 260px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

/*.box {
    display: none;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}*/



.swiper-slide img {
    width: 250px;
    border-radius: 15px;
    height: 360px;
}


.swiper-txt {
    position: absolute;
    padding: 25px;

}

.swiper-txt h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: Black;

}


/* Flechas de navegacion */
.swiper-button-next,
.swiper-button-prev {
    color: var(--naranjaP);
    font-size: 30px;
    /*margin: 0em;*/

}



/*----------------------------------------¡¡¡¡¡¡¡¡¡¡CARD!!!!!!!!!!!!!-------------------------------------------------------*/


.contenedorCard1 {

    border: 8px var(--azulclaroP) ridge;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: var(--blancoP);
    color: var(--azuloscuroP);
    width: 250px;
    height: 390px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Montserrat;
}

.contenedorCard1:hover {

    transform: translateY(-2px);
    /* Mueve la card hacia arriba al pasar el mouse */
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.2);
    /* Aumenta la sombra al pasar el mouse */
}



.contenedorImagen1 {
    border: 2px var(--azuloscuroP) ridge;
    border-radius: 10px;
    width: 95%;
    height: 50%;
    display: flex;
    background-color: var(--blancoP);
    justify-content: center;
    /* Centrar la imagen horizontalmente */
    align-items: center;
    /* Centrar la imagen verticalmente */
    flex-wrap: wrap;
    /*-------------------------------------------------------------verrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr-*/
}

.imagenProducto1 {
    width: auto;
    height: auto;
    max-width: 85%;
    /* Se ajusta al 100% del ancho del contenedor */
    max-height: 85%;
    /* Se ajusta al 100% de la altura del contenedor */
    object-fit: contain;
    margin: auto;
    transition: transform 0.3s ease;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4))
}

.descripcionCorta {
    /* verrrrrrrrrrrrrrrrrrrrrrrr*/
    color: var(--azuloscuroP);
    font-size: 0.9em;
    align-items: end;
    font-weight: 700;

}


.imagenProducto1:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}



.contenedorPrecio1 {
    /*border: 2px yellow solid;*/
    border-radius: 2px;
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.contenedorPrecio1 h4 {
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}


.contenedorDescripcion1 {
    /*border: 2px rgb(34, 127, 233) solid;*/
    border-radius: 10px;
    width: 95%;
    height: 20%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: left;
}


.contenedorInferior1 {
    /*border: 2px rgb(29, 197, 94) solid;*/
    border-radius: 10px;
    width: 95%;
    height: 15%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: end;
    display: flex;
    align-items: center;
}

.contenedorSelector1 {
    border: 1px rgb(240, 235, 230) solid;
    width: 20%;
    height: 60%;
    border-radius: 0.4em;
    text-align: center;
    font-size: 0.9em;
    background-color: var(--azulclaroP);
    color: var(--blancoP);
}

.contenedorBoton1 {
    border: 1px rgb(240, 235, 230) solid;
    border-radius: 5px;
    width: 60%;
    height: 60%;
    background-color: var(--naranjaP);
    color: var(--blancoP);
    font-weight: 800;
    transition: transform 0.3s ease;
    /* Transición suave para el tamaño */
}

.contenedorBoton1:hover {
    transform: scale(1.1);
    /* Aumentar el tamaño al 110% */
}


/*-----------------------------------------------------------------------------------------------*/

#contenedorMarcas {
    background-color: transparent;
    border: 3px var(--blancoP) solid;
    /*text-align: center;*/
    /*margin: 2em;*/
    grid-area: marcas;
    border-radius: 15px;
}


#subContenedorMarcas {
    margin: 2em;
}

.imagenMarca {
    min-width: 400px;
    margin: 1em;
}

/*-----------------------------------FOOTER-------------------------------*/
footer {
    background-color: var(--azulclaroP);
    /*border: 2px greenyellow solid;*/
    color: var(--blancoP);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    grid-area: footer;
    font-size: 1em;
    font-weight: 500;
}

#logoFooter {
    width: 4em;
    min-width: 2em;
}

#logoFiscal {
    width: 3em;
    min-width: 2em;
}

footer a {
    color: var(--blancoP);
    text-decoration: none;
    /* Elimina el subrayado */
    margin: 0.3em;
}

footer a:hover {
    color: var(--naranjaP);
}


footer div {
    /*border: 2px red solid;*/
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}


/***************************MEDIAQUERIES 900PX******************************/

@media (max-width: 900px) {
    nav {
        padding: 0.1em;
    }

    #contenedorSecundario {
        grid-area: secundario;
        padding: 2em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "secciones"
            "secciones"
            "publicidad "
            "marcas";
    }


    .publicidad {
        width: 80%;
    }
}

/***************************MEDIAQUERIES 768PX******************************/

@media (max-width: 768px) {

    #imagencarrusel1de6,
    #imagencarrusel2de6,
    #imagencarrusel3de6,
    #imagencarrusel4de6,
    #imagencarrusel5de6,
    #imagencarrusel6de6 {
        display: none;
    }



    .encabezadoSuperior {
        font-size: 1.4em;
    }


    .whatsapp-icono {
        right: 0.25em;
      }



    main {
        justify-content: center;
        align-items: center;
        padding: 0em;
    }

    .botonNav {
        font-size: 0.7em;
    }


    #imagencarruselPrincipal {
        display: block;
    }


    .container {
        max-width: 1250px;
        padding: 0em;
    }

    footer div {
        display: inline-block;
        text-align: center;
        padding: 0.3em;
    }


    footer span {
        display: inline-block;
        border: 3px red solid;
        width: 250px;
    }

    .publicidad {
        width: 100%;
    }

}