/*------------------ajustes universales-----------------*/
*
{
    
    font-family: Caveat , Roboto , Tahoma, sans-serif;
}

:root {
    --naranjaP: #ff6700ff;  /* Almacena los colores de la paleta con un nombre */
    --blancoP: #ebebebff;
    --grisP: #c0c0c0ff;
    --azulclaroP:  #3a6ea5ff;
    --azuloscuroP:  #004e98ff;
}

h1,h2,h3,h4,h5,h6{
    font-family: roboto;
}

/*-----------------------HEADER-----------------------------*/

#contenedorFijo {
    background-color: var(--blancoP);
    border: 2px blue solid;
    padding: 0.2em 3em;
    }

header{
    background-color: var(  --blancoP);
    border: 2px greenyellow solid;
}


#encabezadoSuperior{
    background-color: var(--azuloscuroP);
    border: 2px greenyellow solid;
    color:var(--blancoP);
    margin: 0em;
    font-size:1.5em;
    text-align:center;
    padding:0.3em;
    
}
#logoEncabezado{
width: 5.5em;
margin: 1em;}



/*
.barra-busqueda {
    display: flex;
    align-items: center;
}

.barra-busqueda input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.barra-busqueda button {
    padding: 10px;
    margin-left: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.barra-busqueda button:hover {
    background-color: #0056b3;
}

*/











nav{
    background-color: var( --azulclaroP);
    border: 2px greenyellow solid;
}

nav ul 
{
  list-style-type: none; /* Elimina los círculos */   
    
}



nav ul li a  {
    color:var(--blancoP); /* O establece un color específico, como: color: black; */
    text-decoration: none; /* Elimina el subrayado */
}

nav ul li a:hover {
    color: var(--blancoP); /* Color al pasar el ratón */
    background-color: var(--naranjaP);
}




/*----------------------MAIN------------------------------*/

main{
    background-color: var( --blancoP);
    border: 2px greenyellow solid;
    padding: 3em;
}


section{
    background-color: var(--azulclaroP);
    border: 2px greenyellow solid;
}


/*-------*/
#contenedorSecciones{ 
background-color: var( --blancoP);
    border: 2px blue solid;
    padding: 3em;    
}

article{
    background-color: var(--azulclaroP);
    border: 2px greenyellow solid;
}


/*-------------*/

#contenedorPublicidad{ 
background-color: var( --blancoP);
    border: 2px blue solid;
    padding: 3em;    
}

aside{
    background-color: var(--naranjaP);
    border: 2px greenyellow solid;
}


/*---------------------FOOTER-------------------------------*/
footer{
    background-color: var(--azuloscuroP);
    border: 2px greenyellow solid;
    padding: 1em;
    color:var(--blancoP);    
}