:root {
  --naranjaP: #ff6700ff;
  /* Almacena los colores de la paleta con un nombre */
  --blancoP: #ebebebff;
  --grisP: #c0c0c0ff;
  --azulclaroP: #3a6ea5ff;
  --azuloscuroP: #004e98ff;
}


body {
  color: var(--blancoP);
  text-align: center;
  background-color: var(--azuloscuroP);
  /*border: 2px red solid;*/
  margin: auto;
  padding: 0;
  min-width:300px;
  display:flex;
  justify-content:center;
}

body h1{
  font-size: 1.75em;
  line-height: 1.2;

}


/*---------------------seccion ancabezado pagina--------------------*/


#contenedorTitulo{
display:flex;
border:2px white solid;
border-radius:15px;
width:70vw;
font-weight:900;
background-color: rgba(255, 255, 255, 0.1);
justify-content: space-around; /* Distribuye los elementos a los extremos */
align-items: center; /* Centra los elementos verticalmente (si se necesitan) */
margin:auto;
margin-bottom:1.5em;
margin-top:3em;
}




#contenedorIzquierdo{
margin:0.5em 3em;
/*border:2px wheat solid;*/
align-items: center;
}

#contenedorCentro{
margin:auto;
/*border:2px red solid;*/
display: flex;
align-items: center;
}

#contenedorCentro h1 {
display: inline;
margin: 0 0.6em;
/*border: 3px white solid;*/
font-size: 3em;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}




.textoParrafo{
display:flex;
width:70vw;
font-weight:600;
justify-content: space-around; /* Distribuye los elementos a los extremos */
align-items: center; /* Centra los elementos verticalmente (si se necesitan) */
margin:auto;
margin-bottom:0em;
font-size:1.1em;
padding:1em 2em;
    
}
    

#logoFerrecentro{
width:4em;
 filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4))
}

#logoIconoTitulo{
 filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4))

}


#dondeComprar{
font-size:1.4em;
font-weight:700;



}
/*----------------contenedor 3 iconos de sucursales------------------*/

.contenedorSucursales {
  /*border:Solid 2px rgb(102, 6, 6);*/
  display: flex;
  justify-content: center;
  margin-top: 1em;
  flex-wrap: wrap;
}


.cardSucursales {
  border: Solid 2px var(--azulclaroP);
  border-radius: 0.6em;
  display: inline-block;
  padding: 0.5em;
  min-width: 15em;
  margin: 1em 3em;
}

.cardSucursales:hover {
  border-color: var(--blancoP);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}


.cardSucursales h3 {
  font-size: 1, 9em;
  padding: 0;
  margin-top: 1em;
  line-height: 1.2;
}

.cardSucursales h2 {
  font-size: 1.6em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}


.botonDetalle {
  background-color: Transparent;
  color: white;
  border: none;
  font-size: 0.9em;
  padding: 0;
  margin-top: 1.4em;
  text-decoration: underline;
  cursor: pointer;
}


.botonDetalle:hover {
  color: var(--naranjaP)
}




/*---------------contenedor card sucursales desde html---------------------*/

/*.contenedorPrincipal {
  
 

  /*border: 3px yellow solid;*/
 /* 
}*/

.contenedorImagenes {
  /*background-color: green;*/
  padding: 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}


/*---------------contenedor card sucursales desde .js---------------------*/
/*agregadp*/
.card {
  
  /*width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 500px;*/
  /*border: 3px rgb(186, 30, 218) solid;*/
  padding: 1em;
  
  

 
}


.contenedorDuplicado{
border: 2px red solid;
padding:1em;
border-color: var(--blancoP);
border-radius: 15px;
transition: background-color 0.3s ease;
justify-content: center;
}


.contenedorDuplicado:hover {
  border: 2px var(--blancoP) solid;
  background-color: var(--naranjaP);
}






.contenedorDuplicado h2 {
  /*border: 1px rgb(29, 203, 209) solid;*/
  padding: 1em;
  margin:1em;
  font-size: 1.2em;
  font-weight: 700;
  color: var(--naranjaP);
  background-color: var(--blancoP);
  border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 }



.contenedorDuplicado h3 {
  /*border: 1px red solid;*/
  font-size: 0.9em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}


.contenedorDuplicado h3 a {
  font-style: italic;
  transition: font-size 0.3s ease;
}

.contenedorDuplicado h3 a:hover
/*{
  /*font-size: 102%;
   /*Aumenta el tamaño al pasar el mouse */
/*color: white;
}*/



.contenedorImagen {
 align-items: center;
  margin: 0em;
  display: inline;
}



.imagenLocal {
  border-radius: 9px;
  border: 3px var(--azuloscuroP) solid;
  max-width: 350px;
  margin: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: inline;
  margin:2em;

}


.mapa{
  width: 25vw;
  height: 350px;
  margin:2em;
  border-radius: 9px;
  border: 3px var(--azuloscuroP) solid;
  min-width: 350px;

}









/*----------------------------MEDIAQUERIES 900px-----------------------------------------*/

@media (max-width: 900px) 
{
/*.contenedorSucursales {
justify-content: center;
align-content: center;
align-items: center;
}

.mapa {
  border-radius: 9px;
  border: 3px var(--azuloscuroP) solid;

  }

  .imagenLocal {
    margin: 1em 0 1em 0;
  }

  .mapa {
    margin: 1em 0 1em 0;
  }
*/

.imagenLocal {

  max-width: 80%;
  
  margin:1em;

}


.mapa{
  width: 70vw;
  height: 350px;
  margin:1em;
  border-radius: 9px;
  border: 3px var(--azuloscuroP) solid;
  

}



/*----------*/



#contenedorCentro h1{
  font-size:2.5em;

}  
 
#logoIconoTitulo{
font-size:2.5em; /* maneja el tamaño del icono de fontawesome*/
}

#logoFerrecentro{
min-width:3em;     
}

.textoParrafo{
font-size:1em;
}

}

/*----------------------------MEDIAQUERIES 650px-----------------------------------------*/

@media (max-width: 650px) 
{




#contenedorCentro h1{
  font-size:1.5em;
  
}  
 
#logoIconoTitulo{
font-size:1.5em; /* maneja el tamaño del icono de fontawesome*/
}

/*----------*/
#contenedorIzquierdo{
margin:0.2em;
}

#logoFerrecentro{
width:2em;  
}
/*--------------*/
.textoParrafo{
font-size:1em;
}

}




