:root {
  --naranjaP: #ff6700ff;
  /* Almacena los colores de la paleta con un nombre */
  --blancoP: #ebebebff;
  --grisP: #c0c0c0ff;
  --azulclaroP: #3a6ea5ff;
  --azuloscuroP: #004e98ff;
}


body {

  color: var(--blancoP);
  text-align: center;
  background-color: var(--azuloscuroP);

}

main {

  width: 100%;
  border: 1px blue solid;
}

/*
main span
{
display:inline-block; 
border: 1px blue solid;
padding: 1.5em;
}
*/

.contenedorPrincipal {
  border: 3px orange solid;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5em 10em;
  border-radius: 15px;




}




.contenedorDuplicado {

  border: 1px red solid;
  padding: 2em;


}

.contenedorDuplicado h3 {

  border: 1px red solid;
  padding: 0em;
  margin: 0em;


}


.contenedorDuplicado
h2 {

  border: 1px rgb(29, 203, 209) solid;
  padding: 0em;
  margin: 0em;
  font-size: 1.2em;
  font-weight: 600;
  color:var(--naranjaP)
  ;


}




.imagenLocal {

  border-radius: 9px;
  border: 3px orange solid;
  margin: 1em;
}





.mapa {

  border-radius: 9px;
  border: 3px orange solid;
}